@font-face {
  font-family: "Overpass";
  src: url(./fonts/Overpass/Overpass-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Overpass";
  font-weight: 400;
}
