@font-face {
  font-family: "Overpass";
  src: url(../fonts/Overpass/Overpass-VariableFont_wght.ttf);
}

html {
  font-family: "Overpass";
}

* {
  font-size: 1.5rem;
  font-weight: 400;
}

body {
  color: hsl(0, 0%, 100%);
  background-color: hsl(216, 12%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 2.5rem;
}

.thank-you-card-wrapper,
.rating-card-wrapper {
  font-size: 1.5rem;
  background-color: hsl(213, 19%, 18%);
  border-radius: 2rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  padding: 3rem 1.52rem;
  max-width: 40rem;
}

header img {
  background-color: hsla(217, 12%, 63%, 0.1);
  padding: 1.5rem;
  border-radius: 36rem;
  width: 4.5rem;
  height: 4.5rem;
}

.thank-you-card-wrapper h2,
header h1 {
  color: hsl(0, 0%, 100%);
  margin: 3rem 0 1rem 0;
  font-size: 2.8rem;
  font-weight: 700;
}

.thank-you-card-wrapper,
header p {
  color: hsl(217, 12%, 63%);
  line-height: 1.5;
}

.rating-choices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 2rem 0;
  text-align: center;
}

.rating-choices input[type="radio"] {
  display: none;
}

.rating-choices label {
  position: relative;
  color: hsl(217, 12%, 63%);
  background-color: hsla(217, 12%, 63%, 0.1);
  border-radius: 36rem;
  padding: 1.2rem;
  width: 4.5rem;
  height: 4.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.1s linear;
}

.rating-choices label:hover {
  cursor: pointer;
  background-color: hsl(25, 97%, 53%);
  color: hsl(216, 12%, 8%);
}

.rating-choices input:checked + .choice-label {
  background-color: hsl(0, 0%, 100%);
  color: hsl(216, 12%, 8%);
}

.rating-card {
  width: 100%;
}

.rating-card button {
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.2rem;

  width: 100%;
  background-color: hsl(25, 97%, 53%);
  color: hsl(216, 12%, 8%);
  border-radius: 36rem;
  padding: 1.2rem 0;

  transition: 0.1s ease-in-out;
}

.rating-card button:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 100%);
}

.thank-you-card-wrapper img {
  margin-bottom: 3rem;
}

.thank-you-card-wrapper span:not(#rating) {
  color: hsl(25, 97%, 53%);
  background-color: hsla(217, 12%, 63%, 0.1);
  padding: 0.5rem 1.5rem;
  border-radius: 3.6rem;
}

.thank-you-card-wrapper p {
  text-align: center;
}

#rating {
  background-color: transparent;
}

.hidden {
  display: none;
}

.attribution {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 99%;
}

@media (min-width: 768px) {
  .thank-you-card-wrapper,
  .rating-card-wrapper {
    padding: 4rem 3rem;
    border-radius: 2.5rem;
  }

  header img {
    margin-bottom: 1rem;
  }

  .rating-card button {
    margin-top: 1rem;
  }

  .rating-choices label {
    padding: 1.2rem;
    width: 5rem;
    height: 5rem;
  }

  .thank-you-card-wrapper span:not(#rating) {
    padding: 0.3rem 1.5rem;
  }
}
