@font-face {
  font-family: "Overpass";
  src: url(../fonts/Overpass/Overpass-VariableFont_wght.ttf);
}

html {
  font-family: "Overpass";
}

* {
  font-size: 1.5rem;
  font-weight: 400;
}

body {
  color: hsl(0, 0%, 100%);
  background-color: hsl(216, 12%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 2.5rem;
}

.card-wrapper {
  background-color: hsl(213, 19%, 18%);
  border-radius: 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  padding: 2rem;
  max-width: 375px;
}

header img {
  background-color: hsla(217, 12%, 63%, 0.1);
  padding: 1rem;
  border-radius: 36rem;
  width: 3.5rem;
}

header h1 {
  margin: 2rem 0;
  font-size: 2.4rem;
  font-weight: 700;
}

header p {
  color: hsl(217, 12%, 63%);
  line-height: 1.5;
}

.rating-card {
  width: 100%;
}

.rating-card button {
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.2rem;

  width: 100%;
  background-color: hsl(25, 97%, 53%);
  color: hsl(216, 12%, 8%);
  border-radius: 36rem;
  padding: 1.2rem 0;
}

.rating-choices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 2rem 0;
  text-align: center;
}

.rating-choices input[type="radio"] {
  display: none;
}

.rating-choices label {
  position: relative;
  color: hsl(217, 12%, 63%);
  background-color: hsla(217, 12%, 63%, 0.1);
  border-radius: 360px;
  padding: 12px;
  width: 45px;
  height: 45px;

  display: flex;
  justify-content: center;
  align-items: center;
}
